@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css';
/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #333; /* Dark Gray */
  --secondary-color: #6c63ff; /* Purple */
  --night-mode-secondary-color: #959c09;
  --background-color: #f0f4f8; /* Light Gray */
  --night-mode-background: #1a202c; /* Dark Blue */
  --night-mode-header-gradient-end: #2d3748; /* Darker Blue */
  --night-mode-email-color: #cbd5e0; /* Light Blue */
  --white: #fff; /* White */
  --shadow: rgba(0, 0, 0, 0.1); /* Light Shadow */
  --card-hover-shadow: rgba(0, 0, 0, 0.2); /* Darker Shadow */
  --button-hover-background: #5349d8; /* Darker Purple */
  --error-color: #e53e3e; /* Red */
  --success-color: #38a169; /* Green */
  --input-focus-border-color: #3182ce; /* Blue */
}


body {
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  line-height: 1.6;
}

body.night-mode label{
  color: var(--night-mode-email-color);
}
body.night-mode, body.night-mode .cards
{
  background-color: var(--night-mode-background);
}
body.night-mode .header {
  background: linear-gradient(135deg, var(--night-mode-background), var(--night-mode-header-gradient-end));
}
body.night-mode * {
  color: var(--background-color);
}
body.night-mode .primary-btn{
  box-shadow: 0 4px 6px #959c0918;
}

body.night-mode h1,
body.night-mode h2,
body.night-mode h3,
body.night-mode h4,
body.night-mode h5,
body.night-mode h6,
body.night-mode p,
body.night-mode a{
  color: var(--night-mode-email-color);
}

body.night-mode .main-wrapper,
body.night-mode .about-wrapper,
body.night-mode .profile,
body.night-mode .newcard-form,
body.night-mode .login-wrapper,
body.night-mode .register-wrapper,
body.night-mode .success-wrapper,
body.night-mode .card-page
{
  background: linear-gradient(135deg, var(--night-mode-background), var(--night-mode-header-gradient-end));
}
body.night-mode .about-section li{
  color: var(--night-mode-email-color);
}
body.night-mode .about-list li:before,
body.night-mode .card i{
  color: var(--night-mode-secondary-color);
}

body.night-mode .card-content,
body.night-mode .card-btn-wrapper {
  border-color: var(--night-mode-background);
}

body.night-mode .team-member{
  background: var(--night-mode-header-gradient-end);
}


body.night-mode .main-big-btn {
  background: var(--night-mode-secondary-color);
  color: var(--night-mode-email-color);
}

body.night-mode .primary-btn:hover {
  box-shadow: 0 6px 10px #959c0921;
}


body.night-mode .card-btn{
  background-color: var(--night-mode-secondary-color);
}

body.night-mode .pagination-btn {
  background-color: var(--night-mode-header-gradient-end);
  color: var(--night-mode-email-color);
}

body.night-mode .pagination-btn:hover {
  border-color: var(--input-focus-border-color);
}

body.night-mode .profile {
  background: var(--night-mode-header-gradient-end);
}

body.night-mode .profile-email {
  color: var(--night-mode-email-color);
}



body.night-mode .card,
body.night-mode .card-content,
body.night-mode .card-btn-wrapper,
body.night-mode .login-form,
body.night-mode .register-form,
body.night-mode .profile-edit-form,
body.night-mode .success-element
{
  background: var(--night-mode-header-gradient-end);
  /* color: var(--background-color); */
}

body.night-mode .success-header {
  color: #4caf50;
}



body.night-mode input,
body.night-mode textarea,
body.night-mode select {
  background: var(--night-mode-header-gradient-end);
  color: var(--night-mode-email-color);
  border: 1px solid var(--night-mode-email-color);
}
body.night-mode .card-content {
  background: var(--night-mode-header-gradient-end);
  /* color: var(--background-color); */
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}